@charset "UTF-8";

/* 回答はここに書いてね */
.q5-square {
  width: 500px;
  height: 500px;
  background-color: #ECF1F2;
  margin: 0 auto;
  position: relative;
}

.square {
  width: 100px;
  height: 100px;
  font-size: 23px;
  text-align: center;
}

.position {
  position: absolute;
}

.b1 {
  background-color: #ffefd3;
  top: 40px;
  left: 200px;
  z-index: 1;
}

.b2 {
  background-color: #7084de;
  top: 120px;
  right: 120px;
  z-index: 2;
}

.b3 {
  background-color: #d0ecea;
  top: 200px;
  right: 40px;
  z-index: 3;
}

.b4 {
  background-color: #8b7a5e;
  bottom: 120px;
  right: 120px;
  z-index: 4;
}

.b5 {
  background-color: #9fd6d2;
  bottom: 40px;
  left: 200px;
  z-index: 5;
}

.b6 {
  background-color: #fffee4;
  bottom: 120px;
  left: 120px;
  z-index: 6;
}

.b7 {
  background-color: #deae70;
  top: 200px;
  left: 40px;
  z-index: 7;
}

.b8 {
  background-color: #de70cf;
  top: 120px;
  left: 120px;
  z-index: 8;
}

.b8::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #ffefd3;
  position: absolute;
  right: 0;
  z-index: 9;
}

.b9 {
  background-color: #2b69a3;
  position: fixed;
  top: 10px;
  left: 10px;
}
/* 回答はここに書いてね */
