@charset "UTF-8";

/* 回答はここに書いてね */
.align_box {
  text-align: center;
}

.t_align {
  display: inline-block;
  background-color: #e6f2ff;
  width: 90px;
  padding: 10px 0 10px 0;
}

.margin {
  text-align: center;
  background-color: #e6f2ff;
  width: 90px;
  padding: 10px 0 10px 0;
  margin: 0 auto;
}

.q6__table {
  display: table;
}

.q6__table__div{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}


.q6__table__div__p {
  background-color: #fff;
  display: inline-block;
  padding: 10px;
}


.q6-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.p_flex {
  display: inline-block;
  background-color: #fff;
  padding: 10px;
}

.q6__posi-div {
  position: relative;
}

.q6__posi-div__p {
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;

}

.q6__position-div {
  position: relative;
}

.q6__position-div__p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


/* 回答はここに書いてね */
