@charset "UTF-8";

/* 回答はここに書いてね */


.common {
  background-color: #00bcd4;
  color: #fff;
}

.error {
	color: #fff;
	background-color: #ff4081;
}

.disabled {
	color: #fff;
	background-color: #e5e5e5;
}

.shadow {
	color: #222;
	box-shadow: 0 1px 6px rgba(0,0,0,.12),
							0 1px 4px rgba(0,0,0,.12);
}

.small_button {
	display: inline-block;
	vertical-align: middle;
  font-size: 16px;
	line-height: 26px;
  border-radius: 3px;
	padding: 0 15px;
	margin: 0 5px;
}

.middle_button {
	display: inline-block;
	border-radius: 5px;
	font-size: 20px;
	line-height: 32px;
	padding: 0 20px;
	margin: 0 5px;
}


.large_button {
	display: inline-block;
	border-radius: 7px;
	font-size: 24px;
	line-height: 38px;
	padding: 0 25px;
	margin: 0 5px
}


.q8form {
	background-color: #ECF1F2;
	overflow: hidden;
	width: 700px;
	margin: auto;
	padding: 20px;
}



.title_Form {
  position: relative;
  margin-bottom: 20px;
}


.title_Form:before {
  box-sizing: border-box;
	position: absolute;
	top: 50%;
  left: 0;
	content: "";
  height: 1px;
  background-color: #ccc;
  padding-left: 10px;
  width: 100%;
}

.title_Form__text {
  position: relative;
  font-size: 24px;
	font-weight: bold;
  display: inline-block;
}

.title__span {
  padding-right: 10px;
  background-color: #ECF1F2
}

.form-box {
  float: left;
  padding-left: 40px;
}

.information {
  float: left;
  text-align: right;
}

.span {
	color: #f00;
}

.label {
  line-height: 25px;
  margin-top: 20px;
  padding-right: 20px;
}

.label:first-child {
  margin-top: 0;
}

.input-form {
  float: left;
  display: inline-grid;
  line-height: 25px;
  text-align: left;
}


.input {
	border: 0;
  box-sizing: border-box;
	border-radius: 3px;
	width: 180px;
	line-height: 25px;
	padding-left:5px;
  margin-top: 20px;
}

.input:first-child {
  margin-top: 0;
}

.input:focus, .freeform:focus {
	box-shadow: 0 0 5px #00BCD4;
	outline: 0;
}

.gender {
  margin-top: 20px;
}

.radio {
	-webkit-appearance: none;
  display: none;
}

.radio + .radio-label {
	padding-left: 20px;
	position: relative;
	margin-top: 20px;
	cursor: pointer;
}

.radio + .radio-label::before {
	content: "";
  display: block;
	position: absolute;
	top: 2px;
	left: 0;
  width: 13px;
  height: 13px;
  border: 1px solid #ccc;
  border-radius: 50%;
	background-color: #fff;
}

.radio:checked + .radio-label::after {
	content: "";
  display: block;
	position: absolute;
  top: 5px;
  left: 3px;
  width: 9px;
  height: 9px;
  background: #00BCD4;
  border-radius: 60%;
}

.sex {
	margin-right: 70px;
}

.select-wrap {
  position: relative;
  display: inline-block;
  margin-top: 20px;
}

.select {
  position: relative;
	-webkit-appearance: none;
	cursor: pointer;
	background-color: #fff;
}


.select-wrap::after {
  position: absolute;
  display: block;
	content: '';
  width: 8px;
  height: 8px;
  bottom: 40%;
  right: 5%;
  border-bottom: solid 2px #E5E5E5;
  border-right: solid 2px #E5E5E5;
  transform: rotate(45deg);
	cursor: pointer;
	pointer-events: none;
}

.checkbox {
	-webkit-appearance: none;
}

.checkbox-text {
  text-align: right;
  margin-top: 20px;
}

.checkbox-label {
	position: relative;
  padding-left: 24px;
}

.checkbox-label::before {
	content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #ccc;
  border-radius: 1px;
	background-color: #fff;
}

.checkbox:checked + .checkbox-label::after {
 content: "";
 display: block;
 position: absolute;
 top: -5px;
 left: 5px;
 width: 7px;
 height: 14px;
 transform: rotate(40deg);
 border-bottom: 3px solid #00BCD4;
 border-right: 3px solid #00BCD4;

}

.submit {
  float: left;
	border-radius: 6px;
	background-color: #00BCD4;
	color: #fff;
	border: 0;
  margin: 20px 0 0 120px;
	cursor: pointer;
	line-height: 26px;
  font-size: 16px;
}

.submit:active {
  background-color: #fff;
  color: #00BCD4;
  outline: none;
}

.freeform {
	width: 370px;
	height: 190px;
  float: right;
	resize: none;
	border: 0;
	border-radius: 3px;
	padding: 10px 0 0 10px;
}

/* 回答はここに書いてね */
