@charset "UTF-8";

/* 回答はここに書いてね */
.s_button {
	display: inline-block;
	vertical-align: middle;
  font-size: 16px;
	line-height: 26px;
  border-radius: 3px;
	padding: 0 15px;
	margin: 0 5px;
}

.light-blue {
  background-color: #00bcd4;
  color: #fff;
}

.pink {
	color: #fff;
	background-color: #ff4081;
}

.gray {
	color: #fff;
	background-color: #e5e5e5;
}

.shadow {
	color: #222;
	box-shadow: 0 1px 6px rgba(0,0,0,.12),
							0 1px 4px rgba(0,0,0,.12);
}

.m_button {
	display: inline-block;
	border-radius: 5px;
	font-size: 20px;
	line-height: 32px;
	padding: 0 20px;
	margin: 0 5px;
}


.l_button {
	display: inline-block;
	border-radius: 7px;
	font-size: 24px;
	line-height: 38px;
	padding: 0 25px;
	margin: 0 5px
}


.q8form {
	background-color: #ECF1F2;
	overflow: hidden;
	width: 700px;
	margin: auto;
	padding: 20px;
}

.title_Form {
  position: relative;
}


.title_Form:before {
  box-sizing: border-box;
	position: absolute;
	top: 50%;
  left: 0;
	content: "";
  height: 1px;
  background-color: #ccc;
  padding-left: 10px;
  width: 100%;
}

.title_Form__div__p {
  position: relative;
  font-size: 24px;
	font-weight: bold;
  display: inline-block;
}

.title__span {
  padding-right: 10px;
}

.title_Form__div__p span {
  background-color: #ECF1F2;
}

.ul {
	float: left;
	text-align: right;
}

.li {
	margin: 0 0 20px 40px;
	list-style: none;
}

.label {
	line-height: 25px;
	margin-right: 15px;
}

.span {
	color: #f00;
}

.input {
	border: 0;
	border-radius: 3px;
	width: 180px;
	line-height: 25px;
	float: right;
	padding-left: 5px;
}

.input:focus, .freeform:focus {
	box-shadow: 0 0 5px #00BCD4;
	outline: 0;
}

.radio {
	-webkit-appearance: none;
}

.radio + .radio-label {
	padding-left: 20px;
	position: relative;
	margin-left: -10px;
	cursor: pointer;
}

.radio + .radio-label::before {
	content: "";
  display: block;
	position: absolute;
	top: 2px;
	left: 0;
  width: 13px;
  height: 13px;
  border: 1px solid #ccc;
  border-radius: 50%;
	background-color: #fff;
}

.radio:checked + .radio-label::after {
	content: "";
  display: block;
	position: absolute;
  top: 5px;
  left: 3px;
  width: 9px;
  height: 9px;
  background: #00BCD4;
  border-radius: 60%;
}

.sex {
	margin-right: 70px;
}

.select {
	-webkit-appearance: none;
	cursor: pointer;
	background-color: #fff;
}

.select-label {
	position: relative;
}

.select-label::after {
	position: absolute;
	content:  '';
  width: 8px;
  height: 8px;
  display:  block;
  border-bottom: solid 2px #E5E5E5;
  border-right: solid 2px #E5E5E5;
  transform: rotate(45deg);
  position:  absolute;
  bottom:  4px;
	left: 210px;
  margin:  auto;
	cursor: pointer;
	pointer-events: none;
}

.checkbox {
	-webkit-appearance: none;
}

.checkbox-label {
	position: relative;
	padding-left: 20px;
	margin-right: 5px;
}

.checkbox-label::before {
	content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #ccc;
  border-radius: 1px;
	background-color: #fff;
}

.checkbox:checked + .checkbox-label::after {
 content: "";
 display: block;
 position: absolute;
 top: -5px;
 left: 5px;
 width: 7px;
 height: 14px;
 transform: rotate(40deg);
 border-bottom: 3px solid #00BCD4;
 border-right: 3px solid #00BCD4;

}

.submit {
	border-radius: 6px;
	background-color: #00BCD4;
	color: #fff;
	border: 0;
	margin-left: 120px;
	cursor: pointer;
	line-height: 26px;
  padding: 0 10px;
}

.submit:active {
  background-color: #fff;

}

.freeform {
	width: 370px;
	height: 190px;
	resize: none;
	float: right;
	border: 0;
	border-radius: 3px;
	padding: 10px 0 0 10px;
}

/* 回答はここに書いてね */
